@model SuperNoughtsAndCrosses.models.GameBoard;

@for (var row = 0; row < Model.GetSize(); row++)
{
    <div class="row row-@(row)">
        @for (var col = 0; col < Model.GetSize(); col++)
        {
            <button class="tile tile-@(col)" row="@row" col="@col" onclick="playTile(this)">
                @Model.GetSymbolForTile(row, col)
            </button>
        }
    </div>
}