body {
    font-family: sans-serif;
}

.board-row {
    display: flex;
}

.board {
    border-color: black;
    border-style: solid;
    width: 13.5rem;
    height: 13.5rem;
}

.board-chosen {
    border-color: red;
}

.board-win {
    font-size: 11rem;
    text-align: center;
}

.row {
    display: flex;
}

.tile {
    width: 4rem;
    height: 4rem;
    
    margin: 0.25rem;
    border-radius: 0.5rem;

    font-size: 2rem;
}