@using Microsoft.AspNetCore.Mvc
@model SuperNoughtsAndCrosses.models.SuperGameBoard;

<button class="new-game" onclick="window.location.href = '@Url.Action("NewGame", "Game", null)'">
    NEW GAME
</button>